.pinPadContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pinPad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  height: 128px;
}

.pinButton {
  width: 60px;
  height: 46px;
  font-size: 24px;
  background-color: #fdf7f0;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pinButton::after {
  content: "•";
  font-size: 24px;
  color: #24312e;
}

.pinButton:hover {
  background-color: #f5f5f5;
}

.pinButton:active {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.errorContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 10px;
  min-width: 180px;
  max-width: 250px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.errorContainer.show {
  opacity: 1;
}

.error {
  background-color: #e54545;
  color: white;
  font-size: 12px;
  padding: 10px 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.errorIcon {
  width: 21px;
  height: 21px;
  margin-right: 10px;
}

.submitButton {
  margin-top: 20px;
}

.textContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.text {
  font-size: 14px;
  width: 165px;
  text-align: center;
}
