body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.homeScreen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(180deg, #2d6759 36%, #0f7a60 100%);
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2d6759;
  flex-shrink: 0;
}

.logo {
  height: 31px;
}

.closeButton {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  font-weight: 100;
  cursor: pointer;
}

.main {
  flex: 1;
  overflow-y: auto; /* Enables vertical scrolling */
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #f2ede6;
}

.mainContent {
  background: #f7f2ec;
  border-radius: 4px;
  border: 1px solid #d4d4d4;
  background: #f7f2ec;
  box-shadow: 0px 2px 7px 1px rgba(139, 139, 139, 0.15);
  padding: 12px;
  width: 95%;
  max-width: 1200px;
  margin-top: 8px;
}

.backLink {
  text-decoration: none;
  color: #2d6759;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 16px;
  display: inline-block;
}

.btcFeeRates,
.deviceConnect {
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  background: #f7f2ec;
  padding: 12px 18px;
  margin-bottom: 12px;
}

.deviceConnect {
  padding: 12px 29px;
}

.btcFeeRates h2,
.deviceConnect h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #000;
}

.btcFeeRates {
  display: flex;
  flex-direction: column;
}

.rateContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 15px;
}

.rateInfo {
  display: flex;
  align-items: center;
}

.rateIndicator {
  background-color: #f22700;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.triangle {
  color: white;
  font-size: 8px;
}

.rateValues {
  display: flex;
  flex-direction: column;
}

.rateValue {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  line-height: 1;
}

.rateUnit {
  font-size: 11px;
  font-weight: 400;
  color: #3e524d;
  font-feature-settings: "liga" off, "clig" off;
}

.chartPlaceholder {
  width: 60%;
  height: 45px;
  background-color: #e0e0e0;
  border-radius: 8px;
  margin: 10px 0;
}

.rateFooter {
  display: flex;
  justify-content: space-between;
  color: #000;
  align-items: center;
  border-top: 1px solid #e0e0e0;
  padding-top: 10px;
}

.weekAverage {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #2d6759;
  border-radius: 50%;
  margin-right: 8px;
}

.weekAverageValue {
  font-size: 13px;
  font-weight: 600;
}

.btcValue {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.bitcoinIcon {
  width: 21px;
  height: 24px;
  margin-right: 5px;
}

.deviceConnect h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.deviceConnect p {
  font-size: 13px;
  color: #878787;
  margin-bottom: 16px;
}

.deviceList {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.refreshButton {
  background-color: #2d6759;
  color: white;
  border: none;
  padding: 9px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.refreshButton:hover {
  background-color: #1f4d3f;
  transform: translateY(-2px);
}

.refreshIcon {
  margin-right: 5px;
  transition: transform 0.3s ease;
}

.refreshButton:hover .refreshIcon {
  transform: rotate(180deg);
}

.noDevices {
  background-color: #fdf7f0;
  border: 1px solid #d4d4d4;
  border-radius: 7px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 280px;
  color: #000;
}

.noDevices h3 {
  font-size: 15px;
  margin-bottom: 5px;
  color: #333;
}

.noDevices p {
  font-size: 13px;
  color: #878787;
  margin-bottom: 16px;
}

.noDevices ExpandableError {
  margin-top: 15px;
}